*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Orelega One', cursive;
}

.general{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "a b"
    "a b";
    margin-top: 20px;
}


.pizarra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: a;
    grid: 2;
    
}
.pizarra_titulo{
    display: flex;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1;
}
.pizarra_borde{
    border: 3px solid black;
}

.opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: b;
    grid-row: 2;
}


.caja{
    margin-bottom: 20px;
}
.caja>h2{
    margin-bottom: 5px;
}
.grosor_linea__botones{
    display: inline
}



h1{

    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    
}
#ayuda_pizarra, h2{
    letter-spacing: 2px;
}
#ayuda_pizarra{
    font-size: small;
}
#mas_grosor, #menos_grosor, #eraser{
    padding: 2px 5px;
}
