*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
  
}

.general{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "a b"
    "a b";
}


.pizarra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: a;
    grid: 2;
    
}
.pizarra_titulo{
    display: flex;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1;
}
.pizarra_borde{
    border: 3px solid black;
}





.opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: b;
    grid-row: 2;
}



.grosor_linea{
    display: flex;
    flex-direction: row;
    border: solid 1px aqua;
    
}

.grosor_linea__botones{
    display: flex;
    justify-content: center;
    align-items: center;
}



h1{
    font-family: 'Coustard', serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    
}
#ayuda_pizarra, h2{
    font-family: 'Coustard', serif;
    letter-spacing: 2px;
}
#ayuda_pizarra{
    font-size: small;
}

